#pokemon-container2{
  width: 400px;
  height: 530px;
  border-radius: 1rem;
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  background-size: 400% 400%;
  background-position: 0% 50%;
  box-shadow:
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  animation: gradientShift 5s ease infinite;

}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.pokemon-card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;      
}


.pokemon-card2 img {
  
  width: 220px;
  border-radius: 8px;
}

.pokemon-card2 input {
  padding: 10px;
  width: 207px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #000000;
  text-align: center;

}

#card-btn2{

  display: flex;
  gap: 10px;  
  
}

#card-btn2 button {
  padding: 5px 18px;
  font-size: 15px;
  background-color: #05a13c;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s;
}

#card-btn2 button:hover{

  background-color: #34ff7b;
  
}

#next2{

  padding: 5px 18px;
  font-size: 15px;
  background-color: #05a13c;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s;

}

@media (max-width: 468px) {

  #pokemon-container2 {
    
    margin-right: 10px;
    width: 320px;
    height: 525px;

  }

}