
.contact-page {
width: 100%;
max-width: 500px;
margin: auto;
background: rgb(0, 0, 0);
padding: 20px;
border-radius: 15px;
border-style: solid;
border-width: 1px;
border-color: #ffffff;
box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


.contact-form {
display: flex;
flex-direction: column;
gap: 12px;
}


.contact-form input,
.contact-form textarea {
padding: 10px;
border-radius: 8px;
border: 1px solid #ffffff;
}


.submit-btn {
background: #FF0000;
color: white;
padding: 12px;
border-radius: 10px;
border: none;
cursor: pointer;
}

.submit-btn:hover {
background: #ff3131;
}

.back-btn {
margin: 10px auto 0;
padding: 5px;
border: none;
border-radius: 8px;
background: #000000;
color: white;
cursor: pointer;
display: block;
}


.back-btn:hover {
background: #545454;
}

@media (max-width: 468px) {

    .contact-page {
    max-width: 280px;
    margin: auto;
    padding: 15px;  

    }

}