#pokemon-container3 {
  width: 400px;
  height: 530px;
  border-radius: 1rem;
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  background-size: 400% 400%;
  background-position: 0% 50%;
  box-shadow:
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  animation: gradientShift 5s ease infinite;

}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.pokemon-card3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;      
}


.pokemon-card3 img {
  
  width: 220px;
  border-radius: 8px;
}

.silhouette {
  filter: brightness(0) saturate(100%);
}


.pokemon-card3 input {
  padding: 10px;
  width: 207px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #000000;
  text-align: center;

}

#card-btn3{

  display: flex;
  gap: 10px;  
  
}

#card-btn3 button {
  padding: 5px 18px;
  font-size: 15px;
  background-color: #EE1C25;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s;
}

#card-btn3 button:hover{

  background-color: #ff888e;
  
}

#next3{

  padding: 5px 18px;
  font-size: 15px;
  background-color: #EE1C25;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s;

}

@media (max-width: 468px) {

  #pokemon-container3 {

    margin-right: 10px;
    width: 320px;
    height: 525px;

  }

}