
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

#brand-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

#brand-container img {
  border-radius: 40px;
  height: 45px;
}

#brand-container a {
  text-decoration: none;
  color: white;
}

.NavbarBtn {
  display: flex;
  gap: 15px;
  align-items: center;
}

.Navbtn {
  border-radius: 12px;
  color: white;
  background-color: #FF0000;
  border-style: none;
  font-weight: 900;
  font-size: 14px;
  padding: 10px 30px;
  transition: 0.3s;
}

.Navbtn:hover{

  transform: scale(1.1);
  background-color: #fb3535;
  cursor: pointer;

}

@media (max-width: 468px) {

#brand-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

#brand-container {
  font-size: 12px;
}

.Navbtn {

  font-size: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

}
